/* --------------------------------------------------------------------------------------- */

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #E5E5E5; */
    background-color: rgba(240, 240, 240, 1);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: #EC362D;
    box-shadow: 0 1px 15px rgb(46, 45, 45);
    height: 69px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
    font-size: 37px;
    font-weight: bold;
}

main{
    width: 1100px;
    margin: 120px auto 0px auto;    
}


h2{
    font-size: 23px;
    font-weight: bold;
    color: black;

    padding-left: 12px;
    letter-spacing: 1px;
    text-align: center;
}

h3{
    color: white;
    font-weight: 500;
    font-size: 19px;

    transform: translateY(-10px);
}

h4{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.txt-center{
    text-align: center;
}

.invisible{
    display: none !important;
}

.container{
    /* width: 500px; */
    /* margin: 0 auto; */
    /* background-color: yellow; */
}

/* -------------------------------------------------------------------------------------- */


.visualize_quizz{
    /* display: none; */
    /* display: block; */
}

.myQuizz{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px 0px;
}

.myQuizz_empty{
    height: 181px;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;  

    border: 1px dashed #D4D4D4;
    
    /* display: none; */
}

.myQuizz_empty p {
    width: 250px;
    text-align: center;
    line-height: 25px;
}
.myQuizz_box{
    /* display: none; */
    /* display: block; */
}

.myQuizz_content{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.top_myQuizz{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn_circle{
    background-image: url(/imagens/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 31px;
    background-color: #EC362D;
    border-radius: 50%;
    border:  none;

    cursor: pointer;
}


.myQuizz p{
    color: #B9B9B9;
    padding: 20px;

    font-size: 20px;
    font-weight: 400;
}

.btn-dashed{

    padding: 5px 20px;
    border-radius: 40px;
    background-color: transparent;
    border:2px dashed red;

    font-size: 21px;
    font-weight: 400;
    color: red;

    width: 180px;

    align-self: center;
    cursor: pointer;
}

.allQuizz_box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.allQuizz_box h2{
    align-self: flex-start;
}

.allQuizz_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.quizz{
    width: 340px;
    height: 181px;

    border-radius: 12px;
    overflow: hidden;

    cursor: pointer;
}

.div_img{
    width: 100%;
    height: 100%;
    position: relative;
}

.div_img::after{
    position: absolute;
    content: '';

    height: 100%;
    width: 100%;

    top: 0;
    left: 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
}

.quizz img{
    height: 100%;
    width: 100%;

    filter: saturate(1.5);
}

.quizz h3{
    transform: translateY(-40px);
    text-align: center;
}




/* ------------------------------------------------------------------------------------------------------------- */

.create_quizz{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;    
    height: min-content ;

    padding-bottom: 40px;
}

/*--------------------------------------------------------------------------------------------------------------- */

.start_create_container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 600px;
 
    /* display: none; */
}

.start_create_container h2 {
    text-align: center;
}
/* .start_create_container .input_box{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;

    padding: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
} */

input{
    display: block;
    border: 1px solid rgba(209, 209, 209, 1);
    height: 36px;

    border-radius: 5px;
    padding-left: 20px;

    font-size: 19px;
    font-weight: 400;
    line-height: 22.27px;
    font-style: italic;
    color: #BABABA;
}

.btn-create{
    height: 54px;
    width: 367px;

    font-size: 24px;
    text-align: center;
    color: rgba(255, 245, 244, 1);
    font-weight: 400;
    line-height: 24.61px;
    background-color: rgba(236, 54, 45, 1);

    align-self: center;
    border-radius: 15px;
    border: none;
    
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------  */


.create_question_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    width: 600px;


    /* display: none; */
}

.edit{
    /* margin-top: 40px; */
    display: flex;
    flex-direction: column;
    gap: 25px;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 25px;
    border-radius: 5px;


}

.edit div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.pre_edit{
    height: 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 25px;

    cursor: pointer;
}

.create_quizz img{
    height: 23px;
    width: 26px;
}

/* -------------------------------------------------------------------------------------------------------------- */



.decide_level_container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    
    width: 600px;
    /* background-color: red; */
    
    /* display: none; */
}

.mg-top-40{
    margin-top: 40px;
}

/* --------------------------------------------------------------------------------------------------------------- */

.quizz_done_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quizz_done{
    height: 266px;
    width: 500px;
}

.quizz_done img {
    width: 100%;
    height: 100%;
}

.btn-back-home{
    border: none;
    background-color: transparent;

    font-size: 21px;
    font-weight: 400;
    color: #818181;
    
    cursor: pointer;
}

.btn-quizz-done{
    width: 280px;
}


.fx-col{
    display: flex;
    flex-direction: column;
}

.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.gap-30{
    gap: 30px;
}
.gap-40{
    gap: 40px;
}

/* ------------------------------------------------------------------------------------------------------------------- */


.play_quizz{
    margin-top: 69px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* display: none; */
}

.adjust_header_layout_in_AcessQuizz{
    margin-top: -90px;
}

.header_play_quizz{
    height: 227px;
}

.header_play_quizz img{
    width: 100%;
    height: 100%;

    filter: saturate(1.5);
    object-fit: fill;
}

.header_play_quizz h3{
    font-size: 39px;
    font-weight: 400;

    text-align: center;
    transform: translateY(-140px);
}

.content_play_quizz{
    width: 688px;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    gap: 30px;

    /* background-color: yellow; */

}

.div_title{
    background-color: #434CA0;
    height: 137px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
    text-align: center;

    overflow: hidden;
}
.title{
    font-size: 23px;
    font-weight: bold;
    color: white;
}


.box_play_quizz{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px 0px;

    padding: 10px;
    background-color: white;
}

.card_play_quizz{
    max-width: 333px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;

}

.card_play_quizz img{
    height: 175px;
    width: 329px;
}

.wrongAnswer {
    opacity: 0.5;
}

.orange {
    color: #FF4B4B;
}
.backOrange {
    background-color: #EC362D;
}

.btn_restart {
    background-color: #EC362D;
    color: #FFF5F4;
    font-size: 21px;
    border-radius: 10px;
    width: 260px;
    height: 52px;
    border: none;
    margin: 0 auto;
    cursor: pointer;

}

.btn_backhome {
    background-color: rgba(240, 240, 240, 1);
    font-size: 21px;
    color: #818181;
    width: 220px;
    height: 44px;
    border: none;
    margin: 0 auto;

    cursor: pointer;
}

.card_play_quizz .final_img {
    width: 100%;
    height: 100%;
}

.card_play_quizz .level_box {
    width: 320px;
    height: 100%;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.level_box p {
    font-weight: 700;
    font-size: 19px;
    color: #484848;

    color: #000888
}

.green {
    color: #009C22;
}

.card_play_quizz p {
    text-align: center;
    font-size: 20px;
    
    padding: 5px;
    word-break: break-word;
}


.transparent{
    opacity: 0;
}

/* ------------------------------------------------------------------------------------------------------------ */

#cor {
    height: 35px;
    border: none;
    padding: 0;
    background-color: #fff;
    cursor: pointer;
}
#cor:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.label_cor{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label_cor p {
    font-size: 20px;
    font-weight: 400;
    color: gray;
}