/* body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 69px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 15px rgb(46, 45, 45);
}

h1 {
    font-size: 37px;
    font-weight: 700;
    color: #ffffff;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

p {
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 92vh;
}

.criaQuizz {
    border: 1px dashed #D5D5D5;
    width: 1051px;
    height: 181px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.criaQuizz span {
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
}

.criar {
    font-size: 20px;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 136px;
    height: 40px;
    background-color: #ffffff;
}

.listaQuizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1051px;
}

.listaQuizzes div {
    width: 340px;
    height: 181px;
    margin: 6px 0;
    display: flex;
    border-radius: 10px;
}

.listaQuizzes img {
    width: 340px;
    height: 181px;
    border-radius: 10px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1)40%, rgba(0, 0, 0, 0.9) 80%), url('../imagens/piratinhaQueEstica.jpeg');
    background-size: cover;

}
.listaQuizzes p {
    display: inline-block;
    position: absolute;
    margin-top: 135px;
    width: 340px;
    text-align: center;
} */


/* --------------------------------------------------------------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #E5E5E5; */
    background-color: rgba(240, 240, 240, 1);
}

header{
    position: fixed;
    top: 0;
    left: 0;

    background-color: #EC362D;
    box-shadow: 0 1px 15px rgb(46, 45, 45);
    height: 69px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
    font-size: 37px;
    font-weight: bold;
}

main{
    width: 1100px;
    margin: 120px auto 0px auto;
}

h2{
    font-size: 23px;
    font-weight: bold;
    color: black;

    padding-left: 12px;
    letter-spacing: 1px;
    text-align: center;
}

h3{
    color: white;
    font-weight: 500;
    font-size: 19px;

    transform: translateY(-10px);
}

h4{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.txt-center{
    text-align: center;
}

/* -------------------------------------------------------------------------------------- */


.visualize_quizz{
    display: none;
    /* display: block; */
}

.myQuizz{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px 0px;
}

.myQuizz_empty{
    padding: 20px 80px;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;  
    
    display: none;
}
.myQuizz_box{
    /* display: none; */
    display: block;
}

.myQuizz_content{
    display: flex;
    justify-content: space-around;
}

.top_myQuizz{
    display: flex;
    align-items: center;
    gap: 20px;
}

.add_new_quizz{
    background-image: url(/imagens/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 31px;
    background-color: #EC362D;
    border-radius: 50%;
    border:  none;
}


.myQuizz p{
    color: #B9B9B9;
    padding: 20px;

    font-size: 20px;
    font-weight: 400;
}

.btn-dashed{

    padding: 5px 20px;
    border-radius: 40px;
    background-color: transparent;
    border:2px dashed red;

    font-size: 21px;
    font-weight: 400;
    color: red;

    width: 180px;

    align-self: center;
}


.allQuizz_content{
    display: flex;
    flex-wrap: wrap;
}

.quizz{
    margin: 20px auto;
    background-image: url('/imagens/Rectangle\ 36.png');
    width: 340px;
    height: 181px;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: flex-end;  
}



/* ------------------------------------------------------------------------------------------------------------- */

.create_quizz{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;    
    height: min-content ;

    padding-bottom: 40px;
}

/*--------------------------------------------------------------------------------------------------------------- */

.start_create_container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 600px;
 
    display: none;
}

.start_create h2 {
    text-align: center;
}
.start_create_container .input_box{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;

    padding: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}

input{
    display: block;
    border: 1px solid rgba(209, 209, 209, 1);
    height: 36px;

    border-radius: 5px;
    padding-left: 20px;

    font-size: 19px;
    font-weight: 400;
    line-height: 22.27px;
    font-style: italic;
    color: #BABABA;
}

.btn-create{
    height: 54px;
    width: 367px;

    font-size: 24px;
    text-align: center;
    color: rgba(255, 245, 244, 1);
    font-weight: 400;
    line-height: 24.61px;
    background-color: rgba(236, 54, 45, 1);

    align-self: center;
    border-radius: 15px;
    border: none;
}

/* -------------------------------------------------------------------------------------  */


.create_question_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    width: 600px;


    display: none;
}

.edit{
    /* margin-top: 40px; */
    display: flex;
    flex-direction: column;
    gap: 30px;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 25px;
    border-radius: 5px;


}

.edit div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.pre_edit{
    height: 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 25px;
}

.create_quizz img{
    height: 23px;
    width: 26px;
}

/* -------------------------------------------------------------------------------------------------------------- */



.decide_level_container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    
    width: 600px;
    /* background-color: red; */
    
    display: none;
}

.mg-top-40{
    margin-top: 40px;
}

/* --------------------------------------------------------------------------------------------------------------- */


.quizz_done_container{

    display: flex;
    flex-direction: column;
    gap: 30px;

    display: none;
}

.quizz_done{
    height: 266px;
    width: 500px;

    background-repeat: no-repeat;
    background-size: contain;
}

.btn-back-home{
    border: none;
    background-color: transparent;

    font-size: 21px;
    font-weight: 400;
    color: #818181;
}

.btn-quizz-done{
    width: 280px;
}


.fx-col{
    display: flex;
    flex-direction: column;
}

.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.gap-30{
    gap: 30px;
}
.gap-40{
    gap: 40px;
}

/* ------------------------------------------------------------------------------------------------------------------- */
